
/* Reset */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #dbe4cb;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Sidebar */
.sidebar{
    position: fixed;
    background:  #B1C294;
    width: 32%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.sidebar h2{
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
    color: #ffffff;
    background: #a5b688;
    padding: 5px;
    font-weight: bold;
}

.sidebar h3{
    text-align: center;
    font-size: 19px;
    font-weight: lighter;
    font-style: italic;
    color: #ffffff;
    background:  #a5b688;
    padding: 5px;
}

.sidebar ul li {
    margin: 20px 0;
    
}

.sidebar ul li a{
    color: #ffffff;
    padding: 0 5%;
    margin-bottom: 20%;
    

}
.sidebar ul li a:hover{
    color: #455a21;
    margin-left: 20px;
    transition: 0.4s;
    
   
}

.media {
    color: #455a21;
    margin-bottom: 50px;
    font-size: larger;
  } 

/* Footer */
.icon-bar {
    width:100%;
    color: #455a21;
    position:absolute;
    text-align: center;
    margin-bottom: 4px;
    bottom:0;
    font-style: italic;
    }

/* Main */

.main{
    margin-left: 37%;
    padding: 5px;
    margin-top: 60px;
    margin-bottom:60px;
}

.main iframe{
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 30%;
    width: 68%;
    height: 100%;
}

.main h2{
    margin-top: 20px;
}
.centerimg{display: block; width: 75%;  }
.center {
    
    display: block;
    position: relative;
    margin-left: 20%;
    margin-top: 50px;
   
    
}

.main h3{
    text-align: center;
    font-style: 'Sofia', sans-serif;
    color: #455a21;
    font-weight: bolder;
    font-style: oblique;
}

.main h4{
text-align: center;
margin-top: 30px;
color:#B2BEB5 ;
}

.hr{
    background-color:  #a5b688;
    width: 90%;
    height: 10px;
    text-align: center;
    margin-top: 20px;
}
.main p{
    color: #374719;
    font-style: oblique;
    font-weight: 400;
    font-size: large;
}

.projectStatus{
    font-style:normal;
    font-weight:bold;
    font-size:10pt;
    font-family:Roboto;
    color:#377da2;
}
.projectTitle{
   font-style:normal;
   font-weight:bold;
   font-size:11pt;
   font-family:Roboto Light;
   color:#455a21;
}
.projectLink{
    font-style:italic;
    font-weight:bold;
    text-decoration: underline;
    font-size:10pt;
    font-family:Roboto;
    color:#276688; 
}
.projectDetail{
   font-style:normal;
   font-weight:400;
   font-size:11pt;
   font-family:Roboto Light;
   color:#455a21;
}