
.home {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4%; height: 4%;
    margin: -4%;
}
.about {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4%; height: 4%;
    margin: -4%;
}
.projects {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4%; height: 4%;
    margin: -4%;
}
.activities {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4%; height: 4%;
    margin: -4%;
}
.blog {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4%; height: 4%;
    margin: -4%;
}
.contact {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4%; height: 4%;
    margin: -4%;
}

.center {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4%; height: 4%;
    margin: -6%;
}
.round { display: block; width: 200%; box-shadow: 5ch; }
.home { transform: rotate(90deg) translate(-14em) rotate(-90deg); } /* 12em = half the width of the wrapper */
.projects { transform: rotate(30deg) translate(14em) rotate(-30deg); }
.about { transform: rotate(330deg) translate(14em) rotate(-330deg); }
.activities { transform: rotate(270deg) translate(-14em) rotate(-270deg) }
.contact { transform: rotate(210deg) translate(14em) rotate(-210deg); }
.blog { transform: rotate(150deg) translate(14em) rotate(-150deg); }
.centerimg{display: block; width: 300%; }


body{
  background-color: black;
  background-size: cover; 
}

